
header {
    width: 100%;
    height: 50px;
    background-color: #e2e2ed;
    padding: 5px 0;
    margin: 0;
}
.links{font-size: 20px;}
body {
    background-color: #8000ff;
}
ul{
    background-color: rgb(147, 255, 222);
}
#logo {
    max-width: 150px;
    height: auto;
    float: left;
}

h1 {
    font-size: 24px;
    display: inline-block;
}

/* Стили для таблицы*/
table {
    background-color: #8000ff;
}

form {
    background-color: #62ffc6;
}

thead {
    background-color: #ffaeae;
}

tbody tr:nth-child(odd) {
    background-color: #a9beff;
}

tbody tr:nth-child(even) {
    background-color: #b0ffb0;
}

td, th {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
}

/* Стили для подвала */
footer {
    width: 100%;
    text-align: center;
    background-color: #e2e2ed;;
    padding: 10px 0;
}
  #table{
    order: 1;
  }
  #links{
    order: 2;
  }
  #form{
    order: 3;
  }
  @media (min-width: 960px) {
  nav{flex-direction:row}
  #table{order: 2;}
  #links{order: 1;}
  #form{order: 3;}
  }
