header {
    width: 100%;
    height: 50px;
    background-color: #e2e2ed;
    padding: 5px 0;
    margin: 0;
}

body {
    background-color: #f4f0f8;
}
#bod{
    max-width:960px;
    background-color:rgba(154, 255, 255, 0.877);
    margin: 0 auto;
    margin-top:20px;
    padding:10px;
    display: flex;
    flex-direction: column;

}
#logo {
    max-width: 150px;
    height: auto;
    float: left;
}

h1 {
    font-size: 24px;
    display: inline-block;
}

/* Стили для меню навигации */
nav{
    background-color:rgba(164, 171, 171, 0.877);
    padding:10px;
    text-align: center;
    display: flex;
    flex-direction: column;

  }

nav a {
    font-size: 24px;
    display: inline;
    margin: 8px;
    padding: 0 8px 0 8px;
    text-decoration: none;
    color: #000;
}

/* Стили для таблицы*/
table {
    width: 70%;
    border-collapse: collapse;
    margin: 0 auto;
}

form {
    margin-left: auto;
    margin-right: auto;
}

thead {
    background-color: #ffaeae;
}

tbody tr:nth-child(odd) {
    background-color: #a9beff;
}

tbody tr:nth-child(even) {
    background-color: #b0ffb0;
}

td, th {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
}

/* Стили для подвала */
footer {
    width: 100%;
    text-align: center;
    background-color: #e2e2ed;;
    padding: 10px 0;
}
  #table{
    order: 1;
  }
  #links{
    order: 2;
  }
  #form{
    order: 3;
  }
  @media (min-width: 960px) {
  nav{flex-direction:row}
  #table{order: 2;}
  #links{order: 1;}
  #form{order: 3;}
  }
