
.container-fluid{background-color:rgb(163, 163, 163);}
.links{font-size: 20px;}
body {
    background-color: #8000ff;
}
ul{
    background-color: #b7ffc8;
}
#logo {
    max-width: 150px;
    height: auto;
    float: left;
}

h1 {
    font-size: 24px;
    display: inline-block;
}

table {
    background-color: #8000ff;
}

form {
    background-color:#b7ffc8;
}

thead {
    background-color: #ffaeae;
}

tbody tr:nth-child(odd) {
    background-color: #a9beff;
}

tbody tr:nth-child(even) {
    background-color: #b0ffb0;
}

td, th {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
}

footer {
    background-color: #a0a0a0;;
}
  #table{
    order: 1;
  }
  #links{
    order: 2;
  }
  #form{
    order: 3;
  }
  @media (min-width: 960px) {
  nav{flex-direction:row}
  #table{order: 2;}
  #links{order: 1;}
  #form{order: 3;}
  }
